<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/src/styles/default-theme.css">
  <style>
    body {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      gap: 5em;
    }
    .main {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      gap: 2em;
    }
    .native {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  </style>
  <title>Implement Validation</title>
</head>
<body>

<div class="main">
  <fieldset>
    <legend>form</legend>

    <form novalidate>
      <div class="native">
        <label for="native">native-input</label>
        <input type="text" id="native" name="native-input" required>
      </div>

      <div>
        <cc-simple-input-text label="simple-input" name="simple-input" required></cc-simple-input-text>
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </fieldset>

  <fieldset>
    <legend>form data</legend>
    <pre class="data"></pre>
  </fieldset>
</div>

<script type="module">
  import { addTranslations, setLanguage } from '../../../lib/i18n.js';
  import { lang, translations } from '../../../translations/translations.en.js';
  import './cc-simple-input-text-validation-6.js';
  import { EmailValidator } from '../validation/validation.js';
  import { formSubmitHandler } from '../form/form-submit-handler.js';

  addTranslations(lang, translations);
  setLanguage(lang);

  const form = document.querySelector('form');
  const simpleInput = document.querySelector('cc-simple-input-text');
  const data = document.querySelector('.data');

  simpleInput.customValidator = new EmailValidator();

  form.onsubmit = formSubmitHandler(form);

  form.addEventListener('form:formSubmit', ({ detail }) => {
    data.innerHTML = JSON.stringify(detail, null, 4);
  });
</script>
</body>
</html>

