<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/src/styles/default-theme.css">
  <style>
    body {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      gap: 5em;
    }

  </style>
  <title>Live coding</title>
</head>
<body>

<ul>
  <li><a href="./live/01-form.html">Form</a></li>
  <li><a href="./live/02-element-internals.html">Use ElementInternals API</a></li>
  <li><a href="./live/03-validation.html">Implement Validation</a></li>
</ul>
</body>
</html>
