<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/src/styles/default-theme.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.5.2/cdn/themes/light.css" />
  <style>
    body {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      display: flex;
      gap: 5em;
    }
  </style>
  <title>Forms investigations</title>
</head>
<body>

<cc-smart-container context='{ "fake": "fake" }'>
  <div>
    <h1>Controlled</h1>
    <cc-ft-controlled></cc-ft-controlled>
  </div>
  <div>
    <h1>Uncontrolled</h1>
    <cc-ft-uncontrolled></cc-ft-uncontrolled>
  </div>


  <div>
    <cc-input-text id="coucou" required></cc-input-text>
    <button id="submit">Go</button>
  </div>


</cc-smart-container>


<script type="module">
  import './cc-ft-controlled.smart.js';
  import './cc-ft-uncontrolled.smart.js';
  import { addTranslations, setLanguage } from '../../lib/i18n.js';
  import { lang, translations } from '../../translations/translations.en.js';
  import { updateRootContext } from '../../lib/smart-manager.js';
  import { invalid, VALID } from './validation/validation.js';

  addTranslations(lang, translations);
  setLanguage(lang);

  updateRootContext({});

  class MyValidator {
    /**
     * @param {'notUpperCase'} code
     */
    getErrorMessage (code) {
      if (code === 'notUpperCase') {
        return 'Not upper case !!';
      }

      throw new Error('Unsupported error code');
    }

    validate(value) {
      if (value !== value.toUpperCase()) {
        return invalid('notUpperCase');
      }
      return VALID;
    }
  }

  coucou.setCustomValidator(new MyValidator());
  submit.addEventListener('click', () => {
    coucou.validate(true);
  })
</script>
</body>
</html>
