/* This is a work in progress */

cc-block:not(:defined) {
  border-radius: .25rem;
  border: 1px solid #bcc2d1;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}

cc-block:not(:defined) > [slot=title] {
  color: #3a3871;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

cc-block[icon]:not(:defined) > [slot=title] {
  padding-left: 2.5rem;
}

cc-flex-gap:not(:defined) {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cc-gap);
}

cc-input-text:not(:defined) {
  background: #eee;
  border-radius: .25rem;
  display: inline-block;
  height: 2rem;
  min-width: 18rem;
  vertical-align: top;
}

cc-tcp-redirection-form:not(:defined) {
  background: #eee;
  border-radius: .25rem;
  display: block;
  height: calc(3.8rem - 2px);
}

cc-toggle:not(:defined) {
  background: #eee;
  border-radius: .15rem;
  display: inline-block;
  height: 2rem;
  min-width: 10rem;
  vertical-align: top;
}

cc-toggle:not(:defined)::after {
  content: '\00a0'
}
